.pixel {
  width: 30px;
  height: 30px;
  background-size: 100% auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pixel_background {
  transition: all 0.1s linear;
  border: 1px inset black;
  position: relative;
  z-index: 20;
}

p {
  font-family: Helvetica, serif;
  font-size: 18px;
  margin: 0;
}

.arrow {
  transition: all 0.5s linear;
  position: absolute;
  width: 14px;
  height: 14px;
  background-image: url("/assets/arrow.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 10;
}

.up {
  top: -8px;
  left: 8px;
  transform: rotate(-90deg);
}

.down {
  bottom: -8px;
  left: 8px;
  transform: rotate(90deg);
}

.right {
  top: 8px;
  right: -8px;
  transform: rotate(0deg);
}

.left {
  top: 8px;
  left: -8px;
  transform: rotate(180deg);
}

.statistic {
  position: absolute;
  top: 0;
  right: 0;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
